/* Colour */

:root {
	color-scheme: light dark;
	--text-color-contrast: 65%;
	--link-color-contrast: 75%;
	--rule-color-contrast: 40%;
	--heavy-rule-color-contrast: 25%;
	--overlay-color-contrast: 10%;
	--text-color: color-mix(in oklab, CanvasText var(--text-color-contrast), Canvas);
	--link-color: color-mix(in oklab, CanvasText var(--link-color-contrast), Canvas);
	--overlay-color: color-mix(in oklab, CanvasText var(--overlay-color-contrast), Canvas);
	--rule-color: color-mix(in oklab, CanvasText var(--rule-color-contrast), Canvas);
	--heavy-rule-color: color-mix(in oklab, CanvasText var(--heavy-rule-color-contrast), Canvas);
	--rule-width: max(1px, 0.07rem);
}

@layer base {
	
	body {
		color: var(--text-color);
	}
	
	a {
		color: var(--link-color);
	}
	
	.articleBody {
		container: measure / inline-size;
	
		span[style],
		div[style]:not([class^="newsfoot"]) {
			all: revert !important;
		}
	}
	
	:is(p,div):where(:empty) {
		display: none;
	}
	
	hgroup {
		font-weight: bold;
	}
	
	/* No title */
	
	hgroup span + span,
	hgroup:has(span:empty) span {
		display: none;
	}
	
	hgroup:has(span:empty) span + span {
		display: inline;
	}
	
	/* No external link */
	
	body > aside:has(a:empty) {
		display: none;
	}
	
	/* No feed_link */
	
	header a + span,
	header a[href=""] {
		display: none;
	}
	
	header a[href=""] + span {
		display: inline;
	}
	
	/* Font sizing */
	
	html {
		font-family: ui-serif;
		--my-lh: round(nearest, calc(1em + 1.5vw), 2px);
		line-height: var(--my-lh);
		font-size: [[font-size]]px;
		-webkit-text-size-adjust: none;
		overflow-wrap: anywhere;
		--cap-ratio: calc(1rlh / 1rcap);
	
		&:has(main.smallText) {
			font-size: 90%;
		}
		
		&:has(main.mediumText) {
			font-size: 100%;
		}
		
		&:has(main.largeText) {
			font-size: 125%;
		}
		
		&:has(main.xLargeText) {
			font-size: 150%;
		}
		
		&:has(main.xxLargeText) {
			font-size: 200%;
		}
	}
	
	body {
		/* 1 */
		--f1-size: calc(1.5rem * var(--cap-ratio));
		--f1-lh: 2rlh;
		--f1-start: 0rlh;
		--f1-end: 1rlh;
		--f1-hstart: 0.5rlh;
		--f1-fam: system-ui;
		--f1-var: "opsz" 50, "wdth" 50;
		
		/* 2 */
		--f2-size: calc(1.5rem * var(--cap-ratio));
		--f2-lh: 2rlh;
		--f2-start: 2.5rlh;
		--f2-end: 1rlh;
		--f2-hstart: 0.5rlh;
		--f2-fam: system-ui;
		--f2-var: "wght" 400, "opsz" 50, "wdth" 50;
		
		/* 3 */
		--f3-size: 200%;
		--f3-lh: 1.5rlh;
		--f3-start: 1rlh;
		--f3-end: 0.5rlh;
		--f3-hstart: 0.5rlh;
		--f3-fam: system-ui;
		--f3-var: "wght" 500, "opsz" 32, "wdth" 75;

		/* 4 */
		--f4-size: 170%;
		--f4-lh: 1.5rlh;
		--f4-start: 1rlh;
		--f4-end: 0.5rlh;
		--f4-hstart: 0.5rlh;
		--f4-fam: system-ui;
		--f4-var: "wght" 400, "opsz" 27, "wdth" 75;

		/* 5 */
		--f5-size: 120%;
		--f5-lh: 1rlh;
		--f5-start: 1rlh;
		--f5-end: 0.5rlh;
		--f5-hstart: 0rlh;
		--f5-fam: inherit;
		--f5-var: "wght" 550;

		/* 6 */
		--f6-size: 105%;
		--f6-lh: 1rlh;
		--f6-start: 0.75rlh;
		--f6-end: 0.25rlh;
		--f6-hstart: 0rlh;
		--f6-fam: inherit;
		--f6-var: "wght" 550;
	}
	
	h1 {
		font-size: var(--f1-size);
		line-height: var(--f1-lh);
		font-family: var(--f1-fam);
		font-variation-settings: var(--f1-var);
		margin-block-start: 0;
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
		--margin-block-end: var(--f1-end);
	}
	
	h2,h3,h4,h5,h6 {
		font-size: var(--f6-size);
		line-height: var(--f6-lh);
		font-family: var(--f6-fam);
		font-variation-settings: var(--f6-var);
		--margin-block-start: var(--f6-start);
		--margin-block-end: var(--f6-end);
	
		& + :is(h3,h4,h5,h6) {
			--margin-block-start: var(--f6-hstart);
		}
	}
	
	:not(h1,h2,h3,h4,h5,h6) > :is(strong, b) {
		font-variation-settings: "wght" 500;
	}
	
	ol,
	ul {
		> * {
			margin-block-start: var(--margin-block-start, 0);
			margin-block-end: var(--start-end, 0);
		}
	}
	
	ul {
		padding-inline-start: 0;
		
		> li {
			position: relative;
			list-style-type: "";
			
			&::before {
				content: var(--list-bullet, "•");
				position: absolute;
				left: calc(var(--dot-indent, 1rlh) * -1);
				inline-size: var(--dot-indent, 1rlh);
				text-align: var(--dot-align, center);
			}
		}
		
		ul {
			--dot-indent: 0.5rlh;
			--dot-align: left;
			--list-bullet: "–";
			padding-inline-start: var(--dot-indent);
		}
	}
	
	p,
	li {
		--margin-block-start: 0.25rlh;
		--margin-block-end: 0.25rlh;
	}
	
	p:not(:has(:is(img,svg,object,figure,iframe,video))) {
		& + & {
			text-indent: var(--paragraph-indent, 0);
			
			* {
				text-indent: 0;
			}
		}
	}
	
	main,
	main :has(> p) {
	
		> * {
			margin-block-start: var(--margin-block-start, 0.5rlh);
			margin-block-end: var(--margin-block-end, 0.5rlh);
		}

	}
	
	main {
		&:has(h3) h2,
		&:has(h4) h3,
		&:has(h5) h4,
		&:has(h6) h5 {
			font-family: var(--f5-fam);
			font-size: var(--f5-size);
			line-height: var(--f5-lh);
			font-variation-settings: var(--f5-var);
			--margin-block-start: var(--f5-start);
			--margin-block-end: var(--f5-end);
		}
		&:has(h4) h2,
		&:has(h5) h3,
		&:has(h6) h4 {
			font-family: var(--f4-fam);
			font-size: var(--f4-size);
			line-height: var(--f4-lh);
			font-variation-settings: var(--f4-var);
			--margin-block-start: var(--f4-start);
			--margin-block-end: var(--f4-end);
			
			& + :is(h3,h4,h5) {
				--margin-block-start: var(--f4-hstart);
			}
		}
		&:has(h5) h2,
		&:has(h6) h3 {
			font-family: var(--f3-fam);
			font-size: var(--f3-size);
			line-height: var(--f3-lh);
			font-variation-settings: var(--f3-var);
			--margin-block-start: var(--f3-start);
			--margin-block-end: var(--f3-end);

			& + :is(h3,h4) {
				--margin-block-start: var(--f3-hstart);
			}
		}
		&:has(h6) h2 {
			font-family: var(--f2-fam);
			font-size: var(--f2-size);
			line-height: var(--f2-lh);
			font-variation-settings: var(--f2-var);
			--margin-block-start: var(--f2-start);
			--margin-block-end: var(--f2-end);

			& + h3 {
				--margin-block-start: var(--f2-hstart);
			}
		}
	}
	

}

@container measure (width < 24em) {
	p {
		--paragraph-indent: 1rem;
	}
	
	li,
	p {
		--margin-block-start: 0rlh;
		--margin-block-end: 0rlh;
	}
}

p:has(:is(img,svg,object,figure,iframe,video)) {
	text-indent: 0;
	--margin-block-start: revert-layer;
	--margin-block-end: revert-layer;
}

/* Paragraphs nested by footnote popovers */
p p {
	text-indent: 0;
}

/* Box sizing */

@layer base {

	body {
		display: grid;
		grid-template-columns: 0fr 1fr 0fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			". header ."
			". main ."
			"link link link"
		;
		column-gap: 1rlh;
		padding-block: 1rlh;
		margin: 0;
	}
	
	header {
		grid-area: header;
	}
	
	main {
		grid-area: main;
	}

	figure {
		--blockquote-extension: 0.5rlh;
		margin-inline: 0;
		
		&:has(> figcaption):not(:has(blockquote)) {
			--figcaption-box-trim: trim-both cap alphabetic;
			--figcaption-box-padding: 0.75rlh;
			border-inline-start: solid 1ch var(--heavy-rule-color);
		}
		&:has(> figcaption) {
			> blockquote {
				margin-block: 0;
			}
		
			> :is(a,img,picture,svg,object) {
				display: block;
				inline-size: fit-content;
				max-inline-size: 100%;
				background-color: var(--overlay-color);
			}
		}
		
		> * + :not(figcaption) {
			margin-block-start: 0.25rlh;
		}
	}
	
	figcaption {
		padding-block-start: var(--figcaption-box-padding, 0);
		padding-block-end: var(--figcaption-box-padding, 0);
		padding-inline-start: var(--figcaption-box-padding, 0);
		text-box: var(--figcaption-box-trim, normal);
		text-align: start !important;
		
		> *:first-child {
			margin-block-start: 0;
		}
		
		> *:last-child {
			margin-block-end: 0;
		}
	}
	
	img {
		max-inline-size: 100%;
		max-block-size: 100vh;
		block-size: auto !important;
		object-fit: contain;
		object-position: left;
	}
	
	svg {
		max-inline-size: 100%;
	}
	
	svg:where([viewBox]) {
		display: block;
		inline-size: 100%;
		block-size: auto;
	}
	
	:is(h1,h2,h3,h4,h5,h6) a svg,
	figure:has(img) svg,
	svg:not([width]),
	svg:has(+ :is(a, span)) {
		display: inline-block;
		inline-size: 1cap;
		block-size: 1cap;
		margin-inline-end: 0.5ch;
	}
	
	svg:not([fill="none"]) {
		fill: currentColor;
	}
	
	iframe {
		border: none;
		display: block;
		max-inline-size: 100%;
	}
	
	iframe:not([width][height]),
	iframe[width="200"][height="113"],
	iframe[width="480"][height="270"],
	iframe[width="560"][height="315"],
	iframe[width="1080"][height="608"] {
		inline-size: 100%;
		block-size: auto !important;
		aspect-ratio: 16 / 9;
	}
	
	object,
	video {
		display: block;
		inline-size: 100%;
		block-size: auto;
	}
	
	pre, xmp, plaintext, tt, code, kbd, samp {
		font-family: ui-monospace;
		font-size: 85%;
		
		& & {
			font-size: 100%;
		}
	}
	
	pre {
		padding-block-end: 1.25em;
	}
	
	canvas {
		max-inline-size: 100%;
	}
	
	main aside {
		box-sizing: border-box;
		inline-size: round(down, 100%, var(--my-lh) * 0.5);
		padding: calc(var(--my-lh) * 0.5);
		border: solid calc(var(--my-lh) * 0.5) transparent;
		background-clip:
			padding-box,
			border-box;
		background-image:
			linear-gradient(Canvas),
			radial-gradient(circle at center, var(--rule-color) 40%, transparent 39%);
		background-position: top left;
		background-size:
			auto auto,
			calc(var(--my-lh) * 0.25) calc(var(--my-lh) * 0.25);
		
		> * {
			&:first-child {
				margin-block-start: 0;
			}
			&:last-child {
				margin-block-end: 0;
			}
		}
	}
	
	body > aside {
		margin-block-start: 1rlh;
		margin-inline: 0.75rlh;
		grid-area: link;
		justify-self: start;
		
		a {
			padding-inline: 0.25rlh;
			-webkit-box-decoration-break: clone;
			line-height: 1.4;
			background-color: Canvas;
			filter: url("#smooth_outline");
			text-decoration: none;
		}
	}

	:root {
		--footnote-margin: 0.3rem;
	}
}

.newsfoot-footnote-container {
	margin-inline-start: var(--footnote-margin);
	--contained: 0;
}

a.footnote {
	color: Canvas;
	background-color: var(--link-color);
	margin-inline-start: var(--contained, var(--footnote-margin));
	font-family: system-ui;
	font-weight: bold;
	
	sup:has(&) {
		font-size: inherit;
		vertical-align: baseline;
	}
}

/* 1: Overriding NNW core stylesheet */
.newsfoot-footnote-popover {
	padding-inline: 0; /* 1 */
	border: solid 0.125em currentColor;
	background-color: Canvas;
	top: 0.4em;
}

/* 1: Override :empty rule */
/* 2: Covers the popover border */
/* 3: Outline doesn’t affect position */
.newsfoot-footnote-popover-arrow {
	display: block; /* 1 */
	background-color: Canvas; /* 2 */
	outline: solid 0.125em currentColor; /* 3 */
	outline-offset: -0.0625em;
}

/* 1: Covers the arrow */
.newsfoot-footnote-popover-inner {
	background-color: Canvas; /* 1 */
}

pre,
.nnw-overflow {
	padding-block-start: 0.5em;
	max-width: 100%;
	overflow-x: auto;
	overscroll-behavior-inline: none;
	--dot: radial-gradient(
		circle at center, 
		var(--text-color) 0, 
		var(--text-color) 70%,
		transparent 70%);
	--d-size: .3rem .3rem;
	background-image:
		/* Cover left */
		linear-gradient(
			to right, Canvas 50%, transparent
		),
		/* Cover right */
		linear-gradient(
			to left, Canvas 50%, transparent
		),
		/* Dots */
    	var(--dot),var(--dot),var(--dot),
    	var(--dot),var(--dot),var(--dot);
	background-size: 4rem 100%, 4rem 100%,
		var(--d-size), var(--d-size), var(--d-size),
		var(--d-size), var(--d-size), var(--d-size);
	background-position: left, right,
		top left, top left 0.5rem, top left 1rem,
		top right, top right 0.5rem, top right 1rem;
	background-repeat: no-repeat;
	background-attachment: local, local,
		scroll, scroll, scroll,
		scroll, scroll, scroll;
}

@layer base {
	
	table {
		border-collapse: collapse;
		font-size: inherit;
		line-height: inherit;
	}
	
	th,td {
		overflow-wrap: normal;
		border-style: none;
		border-block-end: var(--rule-width) solid var(--rule-color);
		text-align: left;
		
		&:first-child {
			text-align: right;
		}
		
		&:not(:last-child) {
			padding-inline-end: 2ch;
		}
		
		thead & {
			padding-block-end: 1ex;
			vertical-align: bottom;
		}
		
		tfoot &,
		tbody & {
			padding-block: 1ex;
			vertical-align: top;
		}
	}

}

blockquote {
	position: relative;
	margin-inline: 0;
	margin-trim: block;
	padding-block-end: var(--blockquote-extension, 0);
	padding-inline-start: 1.25rlh;
	
	&:has(> ul:first-child) {
		padding-inline-start: 1.75rlh;
	}
	
	&::after {
		position: absolute;
		inset-block-start: 0.325rlh;
		inset-inline-start: 0rch;
		content: "“";
		font-size: 250%;
		font-weight: bold;
		text-box: trim-both cap alphabetic;
	}
	
	&::before {
		content: "";
		position: absolute;
		inset-block-start: 1rlh;
		inset-block-end: 0.15rlh;
		inset-inline-start: 0rch;
		inset-inline-end: calc(100% - 1rch);
		background-color: var(--rule-color);
		
		/* Thanks! https://css-shape.com/wavy-line/ */
		--s: 0.12rlh; /* size of the wave */
		--b: calc(round(var(--rule-width) * 2, 1px)); /* thickness of the line */
		--m: 0.8; /* curvature of the wave [0 2] */
		
		--R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
		inline-size: calc(2*var(--R));
		--_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
		mask:
		radial-gradient(var(--R) at top 50% right calc(-1*var(--m)*var(--s)), var(--_g)) 
		 calc(50% - var(--s)/2 - var(--b)/2) calc(50% - 2*var(--s))/calc(var(--s) + var(--b)) calc(4*var(--s)) repeat-y,
		radial-gradient(var(--R) at top 50% left calc(-1*var(--m)*var(--s)),var(--_g)) 
		 calc(50% + var(--s)/2 + var(--b)/2) 50%/calc(var(--s) + var(--b)) calc(4*var(--s)) repeat-y;
	}
}

#scratch_filters {
	position: absolute;
}

feFlood {
	flood-opacity: 0.4;
}

.systemMessage {
	grid-area: main;
	margin: auto;
}